Hi there!

Show some stuff?

{{input type='checkbox' checked=showStuff}}


{{#liquid-if showStuff use='to-left' reverse='to-right'}}
  <p>
    Here is some stuff
  </p>

  <ul>
    <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
  </ul>
{{/liquid-if}}

